@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
 
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin-top: 10px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/ ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li {
  color: #f3f3f3;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li:hover {
  color: #3c3c3c;
  text-decoration: none;
}

.font_nunito {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}

ul.breadcrumb {
  padding: 0px;
  list-style: none;
  background-color: rgba(250, 246, 246, 0);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  /* padding: 8px; */
  color: #ffffff;
  content: "/ ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li:hover {
  color: #01447e;
  text-decoration: none;
}

.bck_black {
  background: #3c3c3c;
}

.bck_white {
  background: #ffffff;
}

.bck_red {
  background: #ff4800;
}

.bck_yellow {
  background: #ffa800;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin: 0 auto;
}

/*====================
        HEADER
======================*/
header {
  padding: 40px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  padding-left: 20px;
  flex-grow: 1;
}

header .header_logo_penny {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 15px;
}

header .header_logo_title {
  text-transform: uppercase;
}

/* /*====================
        FOOTER
======================*/
/* footer {
  padding: 50px 0px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background: red;
}

footer .footer_copyright {
  font-size: 18px;
} */

/*====================
        CARROUSEL
======================*/
.carrousel_wrapper {
height: 700px; 
overflow: hidden;
}
.carrousel_image{
  /* background-color: rgba(0, 0, 0,0.5); */
}
.custom-list {
  list-style: none;
  margin-top: 20px;
  padding-top: 4px;
}
.custom-list li {
  position: relative;
  margin-top: 10px;
  color: #ffffff; 
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #434547; 
  transform: translateY(-75%);
  
}
 
.custom-list li:after {
 content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('../images/play.svg');
  background-size: cover;
  background-position: center;
  left: 90%;
  top: 50%;
  color: #000;
  transform: translateY(-75%);
}


/* .play_logo {
  display: flex;
justify-content: flex-start;
} */
.shows_block {
  position: absolute;
  top: 70%;
  left: 82%;
  width: 480px;
  height: 600px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* border: 2px solid white; */
}

.shows_block .wrapper {
 
  margin: 0px;
  text-align: left;
  color: #fff;
  font-size: 20px;
  padding: 21px 50px 0px 50px;
  text-transform: capitalize;
}

.close_logo{
  width: 15px;
  padding: 0;
  margin: 0;
 
}

.svg_icons {
  display: flex;
}

/* .cl_icon{
    flex: 1;
    justify-content: space-between;
} */
.tcolor {
  color: #fff;
  padding-top: 4px;
  font-family: "Nunito", sans-serif;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  color: #d3d3d3;
  font-family: "Nunito", sans-serif;
}

/* .cast_card{
display: flex;
padding: 50px;
}
.cards_grid{
    flex: 1;
    justify-content: space-between;
} */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #434547;
  padding: 5px;
  width: 200px;
  height: 90px;
  margin-top: 0px;
  line-height: 90px;
  color: white;
  font-size: 1em;
  text-align: center;
}

.telecine {
  margin-left: 55%;
}


/*# sourceMappingURL=style.css.map */